<ion-footer collapse="" class="footer" mode="ios">
  <ion-toolbar color="primary">
    <ion-buttons class="ion-justify-content-around ion-align-self-stretch">
      
      <ion-button (click)="routerlink('main/clientes')">
        <ion-icon name="document-attach-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="routerlink('main/home')">
        <ion-icon name="wallet-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="routerlink('main/perfil')">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>