<app-header title="Perfil"></app-header>
<ion-content>
    
            <ion-button (click)="confirmSupport()" color="secondary" expand="block">
                <ion-icon slot="start" name="construct-outline"></ion-icon>
                Contactar a soporte
            </ion-button>
            <ion-button (click)="confirmSignOut()" color="secondary" expand="block">
                <ion-icon slot="start" name="log-in-outline"></ion-icon>
                Cerrar sesion
            </ion-button>
            
</ion-content>
<app-footer></app-footer>
