ion-item {

    ion-datetime {
        height: 15vh;
        justify-content: center;
        align-items: flex-start;
    }

    ion-label {
        ion-icon {
            font-size: 25px
        }
    }
}



